.collaborators {
  position: relative;

  overflow: hidden;

  padding: 10rem 0;
  margin-top: -100px;
  background: linear-gradient(to bottom, #050816, #00aeef);
}

/* TOP */

.collaborators-top {
  padding-inline: var(--section-padding-x);

  margin-bottom: 6rem;
}

.collaborators-top span {
  color: #00d9ff;

  letter-spacing: 0.25em;

  font-size: 0.85rem;
}

.collaborators-top h2 {
  font-size: clamp(4rem, 9vw, 8rem);

  line-height: 0.9;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.collaborators-top p {
  max-width: 700px;

  color: #94a3b8;

  line-height: 1.8;
}

/* FIELD */

.logos-field {
  display: flex;

  flex-direction: column;

  gap: 4rem;
}

/* ROW */

.logos-row {
  overflow: hidden;

  position: relative;
}

/* TRACK */

.logos-track {
  display: flex;

  gap: 4rem;

  width: max-content;
}

/* CARD */

.logo-card {
  width: 240px;
  height: 140px;

  flex-shrink: 0;

  border-radius: 28px;

  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  display: flex;

  align-items: center;
  justify-content: center;

  transition:
    transform 0.4s ease,
    border 0.4s ease;
}

/* LOGO */

.logo-card img {
  width: 120px;

  object-fit: contain;

  opacity: 0.85;

  filter: brightness(0) invert(1);

  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* ANIMATION */

.left .logos-track {
  animation: scrollLeft 28s linear infinite;
}

.right .logos-track {
  animation: scrollRight 28s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .collaborators {
    padding: 6rem 0;
    margin-top: -60px;
  }

  .collaborators-top {
    padding-inline: var(--section-padding-x);
    margin-bottom: 4rem;
  }

  .logo-card {
    width: 200px;
    height: 120px;
  }

  .logo-card img {
    width: 100px;
  }
}
